#contact {

}

.contact-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.contact-paragraph {
    text-align: center;
}

.contact-button {
    text-align: center;
}

.contact-refs {
    text-align: center;
}

.contact-links {
    text-align: center;
    padding-bottom: 10px;
}