#interest {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: rgba(35, 150, 255, 0.2);
}

.interest-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.interest-title {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}